.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  height: 1.7rem;
}

.nav-container {
  display: flex;
}

.icon-menu {
  border: none;
  background-color: inherit;
  display: flex;
  align-items: center;
  z-index: 9999;
}

.header {
  position: relative;
}

.main-nav,
.nav-items {
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}

.hidden {
  transform: translateX(100%);
  transition: all 250ms;
}

.main-nav {
  background-color: hsla(240, 100%, 5%, 0.354);
}

.nav-items {
  transition: all 350ms ease-in;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  padding: 7rem 2rem;
  position: fixed;
  width: min(70%, 20rem);
  display: flex;
  flex-direction: column;
  background-color: var(--clr-neutral);
  gap: 2rem;
}

.open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

@media (min-width: 40rem) {
  .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    gap: 2rem;
  }

  .icon-menu {
    display: none;
  }
}

.nav-items {
  list-style: none;
}
