.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  height: 1.7rem;
}

.icon-menu {
  border: none;
  background-color: inherit;
  display: flex;
  align-items: center;
  z-index: 9999;
}

.header {
  position: relative;
}

.main-nav {
  display: none;
}

@media (max-width: 40rem) {
  .open {
    padding: 5rem 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    gap: 1rem;
    width: 60vw;
  }
}

@media (min-width: 40rem) {
  .main-nav {
    display: flex;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    gap: 2rem;
  }

  .icon-menu {
    display: none;
  }
}

.nav-items {
  list-style: none;
}
