@media (max-width: 40em) {
  .product {
    max-width: 90vw;
  }
}

@media (max-width: 28em) {
  .product {
    grid-template-columns: 1fr;
    max-width: 90vw;
  }

  .product-image {
    min-height: 20vh;
    background-image: url("image-product-mobile.jpg");
  }
}
