@media (max-width: 40em) {
  .product {
    max-width: 90vw;
  }
}

@media (max-width: 28em) {
  .product {
    grid-template-columns: 1fr;
    height: auto;
    width: 90vw;
  }

  .product-image {
    min-height: 30vh;
    background-image: url("image-product-mobile.jpg");
    background-size: cover;
  }
}
