/*

COLORS

##  Primary
      Bright orange: hsl(31, 77%, 52%)
      Dark cyan: hsl(184, 100%, 22%)
      Very dark cyan: hsl(179, 100%, 13%)

##  Neutral
      Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
      Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

Typography

### Body Copy
    - Font size: 15px

### Font
    - Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
    - Weights: 400

    - Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
    - Weights: 700

*/

/* variable declaration */

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
}

/* hard reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 1rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container {
  margin: 0 auto;
  max-width: 90vw;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-container:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card-container:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.bg--bright-orange {
  background-color: var(--bright-orange);
  color: var(--bright-orange);
}

.bg--dark-cyan {
  background-color: var(--dark-cyan);
  color: var(--dark-cyan);
}

.bg--very-dark-cyan {
  background-color: var(--very-dark-cyan);
  color: var(--very-dark-cyan);
}

.card-header {
  font-family: "Big Shoulders Display";
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: white;
}

.card-description,
.btn--learn-more {
  font-family: "Lexend Deca", sans-serif;
}

.card-description {
  color: rgba(255, 255, 255, 0.7);
  font-size: calc(15rem / 16);
  line-height: 1.5rem;
  max-width: 20rem;
}

.btn--learn-more:link,
.btn--learn-more:visited {
  text-decoration: none;
  background-color: white;
  color: inherit;
  border-radius: 2rem;
  text-transform: capitalize;
  padding: 1rem 2rem;
  max-width: fit-content;
  transition: background-color 0.2s;
}

.btn--learn-more:hover,
.btn--learn-more:active {
  background-color: inherit;
  color: white;
  box-shadow: inset 0 0 0 2px white;
}
