/*

COLORS

##  Primary
      Bright orange: hsl(31, 77%, 52%)
      Dark cyan: hsl(184, 100%, 22%)
      Very dark cyan: hsl(179, 100%, 13%)

##  Neutral
      Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
      Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

Typography

### Body Copy
    - Font size: 15px

### Font
    - Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
    - Weights: 400

    - Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
    - Weights: 700

*/

/* variable declaration */

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
}

/* hard reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}

.bg--bright-orange {
  background-color: var(--bright-orange);
}

.bg--dark-cyan {
  background-color: var(--dark-cyan);
}

.bg--very-dark-cyan {
  background-color: var(--very-dark-cyan);
}
