/*

# Front-end Style Guide

## Colors

### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Overpass](https://fonts.google.com/specimen/Overpass)
- Weights: 400, 700

*/

/* colors */

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

/* hard reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-dark-blue);
  color: var(--white);
  font-family: "Overpass", sans-serif;
}

p {
  font-size: calc(15rem / 16);
  color: var(--light-grey);
}

main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.card-container {
  margin: auto 0;
  background-color: var(--dark-blue);
  border-radius: 2rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.rating-component,
.modal-component {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  transition: all 0.2s ease-in;
}

.modal-component {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
  height: 100%;
  pointer-events: auto;
}

.round-icon {
  background-color: hsl(216, 12%, 25%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.rating-description,
.modal-description {
  max-width: 22rem;
}

.rating-fieldset {
  border: none;
}

.rating-input {
  display: none;
}

.modal-description,
.modal-title {
  text-align: center;
}

.rating-container {
  display: flex;
  justify-content: space-between;
}

.rating-selection {
  list-style-type: none;
  cursor: pointer;
}

.hover {
  background-color: var(--orange);
}

.btn--submit {
  background-color: var(--orange);
  border: none;
  padding: 1rem;
  color: var(--white);
  border-radius: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn--submit:hover,
.btn--submit:active {
  background-color: var(--white);
  color: var(--orange);
}

.selected {
  background-color: var(--medium-grey);
}

.modal-img {
  display: block;
  margin: auto;
}

.modal-span-container {
  text-align: center;
}

.modal-summary {
  color: var(--orange);
  background-color: hsl(216, 12%, 25%);
  border-radius: 2rem;
  padding: 0.7rem;
}
